<p *ngFor="let item of weather | async">
  {{ item.date }}: {{ item.temperatureC }}
</p>
<br />

<div class="row">
  <section>
    <div style="border-style: none; width: 80%; text-align: center; height: auto ">

      <h1 style="margin-top: 200px; text-align: center">Recipe preferences</h1>

      <!-- first column -->
      <div class="column">
        <p style="margin-top: 35px"><b>Exclude</b></p>
        <tr *ngFor="let n of DairyFishChicken">
          <input id={{n.id}} type='checkbox'
                 [value]="n.id"
                 [checked]="n.select"
                 (change)="onChangeExclude($event)" />
          <label for={{n.id}}>
            <span></span>
            {{n.name}}
          </label>
        </tr>
      </div>

      <!-- second column -->
      <div class="column">
        <p style="margin-top: 35px"><b>Meat</b></p>
        <tr *ngFor="let n of PorkBeefNuts">
          <input id={{n.id}} type='checkbox'
                 [value]="n.id"
                 [checked]="n.select"
                 (change)="onChangeMeat($event)" />
          <label for={{n.id}}>
            <span></span>
            {{n.name}}
          </label>
        </tr>
      </div>

      <!-- third column -->
      <div class="column">
        <p style="margin-top: 35px"><b>Meal type</b></p>
        <tr *ngFor="let n of FruitsVegetablesCereals">
          <input id={{n.id}} type='checkbox'
                 [value]="n.id"
                 [checked]="n.select"
                 (change)="onChangeMealtype($event)" />
          <label for={{n.id}}>
            <span></span>
            {{n.name}}
          </label>
        </tr>
      </div>
    </div>

    <form #userlogin="ngForm" (ngSubmit)="PrintTest(userlogin.value)" action="/">
      <div class="item">
        <p style="margin-top: 10px">Target Weight<span class="required"></span></p>
        <input type="text" name="targetweight" required ngModel />
      </div>
      <div class="item">
        <p style="margin-top: 10px">Current Weight<span class="required"></span></p>
        <input type="text" name="currentweight" required ngModel />
      </div>

      <button value="submit" type="submit" style="margin-bottom: 100px; margin-top: 10px; text-align: center" class="button" required ngModel>Create Schedule</button>
    </form>
  </section>

</div>
