.authentication-card {
  width: 30%;
  margin: 0 auto;
  background-color: #c0c0c0;
}

.authentication-card-container {
    min-height: 70vh;
}
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.select {
  position: relative;
  min-width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #c0c0c0;
}

  .select svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
  }

  .select select {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 100%;
    border: 0.5px solid black;
    border-radius: 3px;
    background: black;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: all 150ms ease;
  }

    .select select:required:invalid {
      color: #5a667f;
    }

    .select select option {
      color: #223254;
    }

      .select select option[value=""][disabled] {
        display: none;
      }

    .select select:focus {
      outline: none;
      border-color: #07f;
      box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
    }

    .select select:hover + svg {
      stroke: #07f;
    }
